nav {
    ul {
        background-color: $dimBlack;
        display: flex;
        flex-direction: column;
        font-size: 17px;
        &.logo {
            flex-grow: 10;
            text-align: left;
        }
        a {
            padding: 0.8rem 1rem;
            display: block;
            text-decoration: none;
            color: $greyShade1;
        }
    }
}
